a{
  color: black;
  text-decoration: none;
}
input {outline:none;}
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
  padding-top: 30px;
  /*padding-left: 0;*/
  /*margin-bottom: 0;*/
}
li{
  flex-direction: column;
  width: 25%;
  margin-bottom: 20px;
  position: relative;

}

h1 {
  font-size: 33px;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
}
.logo {
  height: 100px;
  width: auto;
}
.img-container{

}
.dish-container{
  cursor: pointer;
  margin-top: 120px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: table;
}

.row{
  margin-right: -15px;
  margin-left: -15px;
}
#content{
  min-height: 600px;
}

.col{
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
.dish {
  border: 1px solid;
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  min-height: initial;
  margin-bottom: 50px;
}
  .dish-main{
    margin: 0 50px 0 0;
    padding: 0;
  }
.dish-main-row{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.header-dish{
  height: 70px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.order-container{
  color: #333;
  font-size: 17px;
  font-weight: 400;
  background: #fff;
  font-family: Tahoma, serif;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}
.f1{
  width: 22%;
  float: left;
}
.price-box{
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}
.price-box-control{
  float: right;
  width: 78%;
}
.item-quantity{
  margin: 8px 30px 0 40px;
  text-align: center;
  width: 50px;
  display: flex;
  flex-direction: row;
}
.basket-box{
  float: right;
  box-sizing: border-box;
}
.basket{
  margin-top: 19px;
}
.buy{
  top: 15px;
  left: 0px;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  background: #000;
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}
.item-quantity-minus{
  left: -20px;
  font-size: 40px;
  padding: 0;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  line-height: 37px;
  z-index: 15;
  top: 0;
  width: 23px;
  font-weight: 200;
  height: 40px;
  text-align: center;
  border: 0px solid #ededed;
  color: #000;
}
.item-quantity-minus:hover{
  color: gray;
}
.item-quantity-input{
  display: inline-block;
  margin-top: 5px;
  padding: 0px;
  text-align: center;
  z-index: 10;
  height: 30px;
  width: 30px;
  border: 1px solid #000000;
  color: #333;
  font-weight: 400;
  border-radius: 50%;
  font-size: 20px;
}
.grn{
  margin-top: 0px;
  font-size: 17px;
  font-weight: 400;

}
.img-container{
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.stckedcont {
  z-index: 9;
  margin-top: -20px;
  font-size: 15px;
  line-height: 1.25;
}

.secondmenu {
  position: relative;
}
.container1 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.secondmenu i {
  margin-right: 14px;
  margin-bottom: 7px;
}

.secondmenu li:hover{
  background-color: #E2E9DD;
}
.secondmenu:before {
  content: '';
  max-width: 1280px;
  height: 100%;
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: 0;
  border-top: 1px solid #E2E4E1;
  background: #EFF2ED;
  margin: 0 auto;
}
.secondmenu li {
  cursor: pointer;
  color: #000;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
  text-decoration: none;
}
.secondmenu ul {
  display: table;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0;
}


@media (min-width: 996px){
  .container1 {
    width: 996px;
  }}

  @media (min-width: 1200px){
    .container1 {
      width: 1170px;
    }}
    @media (min-width: 992px){
      .container1 {
        width: 970px;
      }}
      @media (min-width: 768px){
        .container1 {
          width: 750px;
        }}
























@media (min-width: 992px) {
  .dish-container {
    width: 970px;
  }
}
  @media (min-width: 768px) {
    .dish-container {
      width: 1000px;
    }
  }
@media (max-width: 767px){
  .row {
    margin-right: -10px;
    margin-left: -10px;
  }}
@media (min-width: 768px){
  .col{
    float: left;
  }
}
@media (min-width: 768px){
  .col {
    width: 100%;
  }}


@media (min-width: 768px){
  .col-2 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }}
@media (min-width: 992px){
  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }}
@media (max-width: 768px){
  .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }}
@media (min-width: 992px){
  .main-container {
    max-width: 960px;
  }}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px;
  }
}
@media (min-width: 576px){
.container {
  max-width: 540px;
}}
