<div class="dish-container">
  <div class="row">
    <div id="content" class="col">
      <h1>vova dodik naxuy suka</h1>
<ul>
  <li class="col-2"  *ngFor="let food of foods">
    <div class="dish">
      <div class="dish-main">
        <div class="dish-main-row">
          <div class="header-dish">
              <a [routerLink] = "food.name" [queryParams]="food">{{food.name}}</a>
          </div>
          <div  class="img-container">
              <img class="logo" [routerLink]="food.name"  [queryParams]="food" [alt]="food.picture"  [src]="findSrc(food.picture)">
          </div>
          <div class="order-container">
            <div class="f1">
              <div class="price-box">
                {{food.price}}
                <span class="grn">₴</span>
              </div>
            </div>
            <div class="price-box-control">
              <div class="item-quantity">
                <div class="item-quantity-minus" (click)="change_quantity(true,food)">-</div>
                <input  class="item-quantity-input" type="text" [value]="food.quantity">
                <div class="item-quantity-minus" (click)="change_quantity(false,food)">+</div>
              </div>
            </div>
            <div class="basket-box">
              <div class="basket">
                <a (click)="Inbasket(food)">
                <span class="buy">
                  В корзину
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
    </div>
  </div>
</div>
