.menu{
  min-height: 60px;
}
.menu-selection{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.selection{
  margin-right: 20px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
