<div class="dish-container section">
  <div class="hr-block-02">
    <hr>
    <h3 class="text-center">Історія замовлень</h3>
    <hr>
  </div>
  <div class="order-title-wrap">
    <div class="container">
      <div class="row">
        <div class="order-list-title col-md-12">
          <p>Дата,Час</p>
          <p>Адреса</p>
          <p>Номер телефону</p>
          <p>Замовлення</p>
          <p>Ціна</p>
        </div>
      </div>
    </div>
  </div>

  <div  class="order" *ngFor="let order of orders">
    <div class="order">
    <div class="container">
      <div class="row row-secound">
        <div class="order-list col-md-12">
          <div class="price">
            <p>{{order.date | date:'y-MM-dd hh:mm'}}</p>
          </div>
          <div class="name">
              <p>{{order.address}}</p>
            </div>
          <div class="quantity">
            <p>{{order.phoneNumber}}</p>
          </div>
          <div class="sum">
            <p *ngFor="let food of order.foods">{{food.name + ' (X' +  food.quantity + ')'}}</p>
          </div>
          <div class="quantity">
            <p>{{order.sum | number:'1.0-1'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div (click)="repeatedly(order)" class="repeatedly">
      <p style=" font-size: 12px; width: 88px; height: 30px">Повторнe<br>Замовлення</p>
    </div>
  </div>
</div>
</div>
