<div class="register">
  <div class="user">
    <header class="user__header">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
      <h1 class="user__title">Увійти</h1>
    </header>

    <form #form = "ngForm" class="form">
      <div class="form__group">
        <input name="user" ngModel type="text" placeholder="Username" class="form__input" />
      </div>

      <div class="form__group">
        <input name="pass" ngModel type="password" placeholder="Password" class="form__input" />
      </div>

      <button class="btn" type="button" (click)="sendData(form)">Увійти</button>
    </form>
  </div>
</div>

