
<div class="all">
<div class="wrap">
  <div  (click)="slideLeft()" id="arrow-left" class="arrow"></div>
  <div id="slider">
    <div #slide1 class="slide slide1">
      <div class="slide-content">
      </div>
    </div>
    <div #slide2 class="slide slide2">
      <div class="slide-content">
      </div>
    </div>
    <div #slide3 class="slide slide3">
      <div class="slide-content">
      </div>
    </div>
    <div #slide4 class="slide slide4">
      <div class="slide-content">
      </div>
    </div>
    <div #slide5 class="slide slide5">
      <div class="slide-content">
      </div>
    </div>
  </div>
  <div (click)="slideRight()" id="arrow-right" class="arrow"></div>
</div>
</div>
