<div id="content" class="col-sm-9">
  <h1 class="page-title">Доставка та Умови</h1>
  <div class="aboutus">
    <h3 >
      Для оформлення замовлення Вам необхідно обрати товар на сайті, вказати його кількість, розмір.   Якщо  бажаєте піцу з  додатковими інгредієнтами необхідно перейти в закладку "Ресторан" і вибрати їх з запропонованого вам переліку,  та натиснути "замовити".  Після цього замовлення буде автоматично додано в "корзину". Перейшовши до Вашого кошику, обираєте закладку  "оформити замовлення" ,  заповнюєте дані у відповідній електронній формі. Після  оформлення замовлення  обираєте  "підтвердити  замовлення" . Після чого  з вами обов'язково зв'яжеться наш оператор.
      Доставка  по Львову безкоштовна. Сума мінімального замовлення складає 250 грн. Якщо замовлення  менше мінімального,  вартість доставки складе 50 грн. Термін доставки  від 30 хвилин. Ми цінуємо Ваш час, тому стараємося виконати Ваше замовлення якнайшвидше.
      <p>* Увага страви та напої поверненню та обміну не підлягають.</p>
    </h3>
  </div>
  <h1 style="margin-top: 40px" class="page-title">Бонуси</h1>

</div>
