#content{
  margin-top: 200px;
  margin-bottom: 190px;
}
.page-title {
  display: block;
  color: #3f3f3f;
  font: 600 30px Comfortaa,sans-serif;
  margin-bottom: 30px;
  text-align: center;
  text-transform: initial;
}


.aboutus {
  margin: 0 auto;
  width: 80%;
}
h3  a{
  font-size: 16px;
  font-family: inherit;
}
a{
  color: #3f3f3f;
  cursor: pointer;
  text-decoration: black;
}
