<div id="content" class="col-sm-9">
  <h1 class="page-title">Доставка та Умови</h1>
  <div class="aboutus">
    <h3>
      <p class="m_6310293816890249137xfmc1" style="margin-bottom: 6.75pt; margin-right: 200px; margin-left: 100px; background-image: initial; background-size: initial; background-position: initial; background-repeat: initial;">
        <span lang="UK" style="">Для оформлення замовлення Вам необхідно обрати товар на сайті, вказати його кількість, розмір.</span>
        &nbsp;&nbsp;<span lang="UK" style="">Якщо &nbsp;бажаєте піцу з&nbsp; додатковими інгредієнтами необхідно перейти в закладку "додатки" і вибрати їх з запропонованого вам переліку,</span>&nbsp;<span lang="UK" style="">
        та натиснути "замовити".&nbsp;
      </span>Після цього замовлення буде автоматично додано в "корзину". Перейшовши до Вашого&nbsp;кошику, обираєте закладку&nbsp; "оформити замовлення"&nbsp;<span lang="UK" style="">,
      </span>&nbsp;заповнюєте дані у відповідній електронній формі та обираєте спосіб оплати.&nbsp;&nbsp;Розрахуватися &nbsp;
        <span lang="UK" style="">можна</span>&nbsp;готівкою, при отриманні&nbsp;
        <span lang="UK" style="">&nbsp;замовлення</span>, або ж&nbsp; онлайн на&nbsp;сайті через платіжну систему. Після &nbsp;оформлення замовлення&nbsp;
        <span lang="UK" style="">обираєте&nbsp;</span>&nbsp;"підтвердити&nbsp; замовлення"&nbsp;. Після&nbsp;<span lang="UK" style="">чого&nbsp;</span>
        <span lang="UK" style="">&nbsp;</span>з вами обов'язково зв'яжеться наш оператор.</p>
      <p style=""></p>
      <p style=""></p>
      <p class="m_6310293816890249137xfmc1" style="margin-bottom: 6.75pt;margin-right: 200px; margin-left: 100px; background-image: initial; background-size: initial; background-position: initial; background-repeat: initial;">Доставка&nbsp;<span lang="UK" style="">&nbsp;</span>по Львову безкоштовна. Сума мінімального замовлення складає 250 грн. Якщо замовлення&nbsp; менше мінімального, &nbsp;вартість доставки склад<span lang="UK" style="">е</span>&nbsp;50 грн. Термін доставки &nbsp;від 30 хвилин. Ми цінуємо Ваш час<span lang="UK" style="">,</span>&nbsp;тому стараємося виконати Ваше замовлення якнайшвидше.</p><p style=""></p><p style=""></p><span class="im" style=""><p class="m_6310293816890249137xfmc1" style="margin-bottom: 6.75pt; margin-left: 100px; background-image: initial; background-size: initial; background-position: initial; background-repeat: initial;">* Увага страви та напої поверненню та обміну не підлягають.</p></span></h3></div><div class="aboutus">
</div>
</div>
