<div class="dish-container section">
  <div class="order-title-wrap">
    <div class="container">
      <div class="row">
        <div class="order-list-title col-md-12">
          <p>Товар</p>
          <p>Ціна</p>
          <p>Кількість</p>
          <p>Разом</p>
        </div>
      </div>
    </div>
    </div>
  <div *ngFor="let food of foods" class="order" >
    <div class="container">
      <div class="row row-secound">
        <div class="order-list col-md-12">
          <div class="name">
            <div (click)="deleteFromBasket(food)" class="cancel">X</div>
            <img class="logo" [alt]="food.picture" [src]="findSrc(food.picture)">
            <div class="dish-name">
              <p class="food-name">{{food.name}}</p>
            </div>
          </div>
          <div class="price">
            <p>{{food.price}}</p>
          </div>
          <div class="quantity">
            <p>{{food.quantity}}</p>
          </div>
          <div class="sum">
            <p>{{food.quantity*food.price}}</p>
          </div>

        </div>
      </div>
    </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12  offset-md-3 col-md-6">
      <div class="price-sum price">
        <span class="sum-text">Загальна сума:</span>
        <p style="width:auto; font-size: 24px; color: black">{{total}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class=" col-md-12 offset-md-3 col-md-6  ">
      <div class="buy-link">
        <button  (click)="getModal(modal)" class="submit-btn" type="submit" [disabled]=isDisabled >Оформити замовлення </button>
        </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div #modal id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="closeModal(modal)" class="close">&times;</span>
      <h2>Доставка курєром</h2>
    </div>
    <div class="modal-body">
      <form #form="ngForm" id="form1">
        <label>Імя</label>
        <input [(ngModel)]="formObj.name" name="name" id="name"  class="menu" required>
        <span></span>
        <br>
        <label>Прізвище</label><input [(ngModel)]="formObj.surname" name="surname"  id="surname"  class="menu" required><span></span><br>
        <label>Адреса</label><input [(ngModel)]="formObj.address"  id="city" name="address"  class="menu" required><span></span><br>
        <label>Номер Телефону</label><input  [(ngModel)]="formObj.phoneNumber" name="date" type="text" class="menu" required><span></span><br>
        <div class="button">
          <label class="qwe"><input (click)="makeOrder()" id="button" type="submit">Підтвердити</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <h5>*Доставка відбувається на протязі 1 години</h5>
    </div>
  </div>

</div>

