a{
  color: black;
  text-decoration: none;
}
p{
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: normal;
}
.logo {
  height: 100px;
  width: auto;
  margin-bottom: 15px;
  max-width: 250px;
}

.name{
  display: flex;
  align-items: center;
  justify-content: flex-start
}
.cancel{
  color: red;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.dish-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.food-name{
  text-align: left;
  margin-left: 15px;
  color: #000;
  font-size: 18px;
  margin-bottom: 0;
  display: block;
}
.price .quantity .sum{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  width: 100%;
}


.dish-container{
  cursor: pointer;
  margin-top: 120px;
  background: #fff;
  position: relative;
  min-height: calc(100vh - 249px);
  box-sizing: border-box;
}
.section {
  padding: 100px 0;
  width: 100%;
}
.order-title-wrap {
  z-index: 1;
  position: relative;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-secound{
  border: 1px solid #ccc;
  padding: 15px 5px;
}
.order-list-title {
  display: grid;
  grid-template-columns: 48% 17% 15% 17%;
  grid-gap: 1%;
  align-items: center;
  padding: 10px 0;
  background: #ebebeb;
}
.order-list{
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: 48% 17% 15% 17%;
  grid-gap: 1%;
  align-items: center;
}

.order{
  width: 100%;
  align-items: center;
}
.price-sum{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0;
  width: 100%;
}
.sum-text{
  display: block;
  font-size: 24px;
  margin-right: 5px;
  color: black;
}
.buy-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
.submit-btn {
  background: #88AB31;
  font-size: 21px;
  padding: 10px 25px;
  border-radius: 90px;
  color: #fff;
  transition: .3s;
  border: none;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
}
.submit-btn:disabled {
  background: #88AB31;
  cursor: not-allowed;
  opacity: .7;
}
@media (max-width: 992px) {
  .dish-container {
    margin-top: 85px;
  }
}
@media (max-width: 767px) {
  .section {
    padding: 50px 0;
  }
}
@media (min-width: 992px) {
  .dish {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (max-width: 992px) {
   .order-title-wrap {
    display: none;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 960px;
  }}
@media (min-width: 768px){
  .container {
    max-width: 720px;
  }}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }}
@media (min-width: 576px){
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }}
@media (min-width: 992px){
  .container {
    max-width: 960px;
  }}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }}
@media (max-width: 992px){
  .img {
    max-width: 150px
  }}
@media (min-width: 768px){
  .offset-md-3 {
    margin-left: 25%;
  }}
@media (min-width: 768px){
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }}
@media (min-width: 576px){
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }}
@media (max-width: 767px){
  .oder .buy-link {
    justify-content: center;
    margin-top: 30px;
  }}








/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
