<div id="header">
  <div class="container">
    <div class="row">
      <div class="col nav-left">
        <div class="nav-left-top">
          <div routerLink="basket" class="basket">
            <img src="../assets/shopping-cart.png">
            <p>Корзина ресторану</p>
          </div>
        </div>
        <ul class="nav">
          <li>
            <a routerLink="/">Головна</a>
          </li>
          <li class="li2-3">
            <a routerLink="/restaurant">Ресторан</a>
          </li>
          <li class="li2-3">
            <a routerLink="info">Інформація</a>
          </li>
        </ul>
      </div>
      <div class="col nav-logo">
        <a id="logo-wrap">
          <img class="logo" src="../assets/logo.png">
        </a>
      </div>
      <div class="col nav-right">
        <div class="nav-right-top">
          <div class="basket">
            <p *ngIf="dis"routerLink="login">Увійти</p>
            <p *ngIf="dis">|</p>
            <p *ngIf="dis" routerLink="register">Зареєструватись</p>
            <p routerLink="profile" *ngIf="!dis">{{user}}</p>
            <img style="outline: none" routerLink="profile" src="../assets/man_user.png">
          </div>
        </div>
        <ul class="nav">
          <li>
            <a [ngClass]="[dis ? 'disabled' : 'enabled']" routerLink="profile">Профіль</a>
          </li>
          <li class="li2-3">
            <a [ngClass]="[dis ? 'disabled' : 'enabled']" routerLink="/">Історія замовлень</a>
          </li>
          <li class="li2-3">
            <a [ngClass]="[dis ? 'disabled' : 'enabled']" routerLink="/" (click)="logout()">Вихід</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-footer-left">
        <div class="footer-left">

        </div>
      </div>
    </div>
  </div>
</div>
