<div class="container">
  <div class="col-md-6">
    <div class="dish-img">
      <div class="dish-img-conteiner">
        <img  [alt]="food.picture" [src]="findSrc(food.picture)">
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-header">
      <h1>{{food.name}}</h1>
    </div>
    <div class="content-discription">
    <p>{{food.description}}</p>
    </div>
    <button (click)="Inbasket(food)"  class="submit-btn" type="submit">Оформити замовлення </button>
  </div>
</div>

