<div class="block">
  <div class="content-container">
    <div class="content-wrap justify-content-center"></div>
  </div>
  <div class="hr-block-02">
    <hr>
    <h3 class="text-center">Мій Профіль</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3 text-center h3">Мої бонуси: <strong style="color: #5cab7d">{{(formObj.bonus | number:'1.1-2')}}
        <small>грн.</small>
      </strong></div>
    </div>
  </div>
  <h4>*За кожне замовлення вам нараховується бонус в розмірії 10% від вартості завмовлення</h4>

  <form #form="ngForm" id="form1" enctype="multipart/form-data">
    <label>Імя</label>
    <input [(ngModel)]="formObj.name" pattern="^[А-Яа-яёЁЇїІіЄєҐґ]{3,15}$" name="name" id="name" class="menu" required>
    <span></span>
    <div class="img-container">
      <img #imgs style="height: 150px; width: 200px;  border-radius: 10px 10px 0 0" [src]="img">
      <div id="file-upload">
        <label>
          <input ngModel (change)="InputFile($event.target.files, imgs)" type="file" name="file" id="uploade-file">
          <span>Виберіть Файл</span>
        </label>
      </div>
    </div>
    <br>
    <label>Прізвище</label><input [(ngModel)]="formObj.surname" pattern="^[А-Яа-яёЁЇїІіЄєҐґ]{3,15}$" name="surname"
                                  id="surname" class="menu" required><span></span><br>
    <label>Адреса</label><input  [(ngModel)]="formObj.address" pattern="[А-Яа-яёЁЇїІіЄєҐґ]{3,15}\s?[a-zA-Z0-9- ]{1,7}" id="city"
                                name="address" class="menu" required><span></span><br>
    <label>Номер Телефону</label><input placeholder="(099) 999-99-99" [(ngModel)]="formObj.phoneNumber" pattern="[\(]?0[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" name="date" type="text"
                                        class="menu" required><span></span><br>
  </form>
  <div class="button">
    <label class="qwe"><input (click)="save()" id="button" type="submit">Зберегти</label>
  </div>
  <h1 #error style="color: red;font-size: 12px;display: none;position: absolute; bottom: 20px">Данні введено не вірно Перевірте правильність і спробуйте ще раз</h1>
  <h1 #correct style="color: green;font-size: 15px; display: none;position: absolute; bottom: 20px">Збережено</h1>
</div>
