<div class="block">
<div class="content-container">
  <div class="content-wrap justify-content-center"></div>
</div>
  <div class="hr-block-02">
    <hr>
    <h3 class="text-center">Мій Профіль</h3>
    <hr>
  </div>
<div class="row">
  <div class="col-md-12">
    <div class="mb-3 text-center h3">Мої бонуси: <strong style="color: #5cab7d">{{formObj.bonus}}<small>грн.</small></strong></div>
  </div>
</div>
<h4>*За кожне замовлення вам нараховується бонус в розмірії 10% від вартості завмовлення</h4>

  <form #form="ngForm" id="form1">
    <label>Імя</label>
    <input [(ngModel)]="formObj.name" pattern="^[а-яА-ЯёЁa]{3,15}$" name="name" id="name"  class="menu" required>
    <span></span>
    <br>
    <label>Прізвище</label><input [(ngModel)]="formObj.surname" pattern="^[а-яА-ЯёЁa]{3,15}$" name="surname"  id="surname"  class="menu" required><span></span><br>
    <label>Адреса</label><input [(ngModel)]="formObj.address" pattern="[а-яА-ЯёЁa -/0-9]{3,15}$"  id="city" name="address"  class="menu" required><span></span><br>
    <label>Номер Телефону</label><input  [(ngModel)]="formObj.phoneNumber" pattern="[0-9]{12}" name="date" type="text" class="menu" required ><span></span><br>
    <div class="button">
    <label class="qwe"><input (click)="save()" id="button" type="submit">Зберегти</label>
      <h1 style="color: red;font-size: 12px">{{error}}</h1>
      <h1 style="color: green;font-size: 15px;margin-right: -20px">{{currect}}</h1>
    </div>
  </form>
</div>
