<div class="type-selection">

  <div class="canvas-params">
    <canvas  baseChart
             [datasets]="ChartData"
             [labels]="ChartLabels"
             [options]="ChartOptions"
             [legend]="ChartLegend"
             [chartType]="ChartType">

    </canvas>
  </div>

<div class="select-main">

  <p>
    <mat-button-toggle-group #group="matButtonToggleGroup" (click)="diagramType(group.value)" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle checked value="orders-count">Кількість замовлень</mat-button-toggle>
      <mat-button-toggle value="orders">Відношення замовлень</mat-button-toggle>
    </mat-button-toggle-group>
  </p>



  <div  class="select">
  <label>Кількість замовлень по :&nbsp;</label> <select #sort (change)="change($event.target.value)" required name="sort">
  <option value="quarter">Кварталах</option>
  <option value="mounse">Місяцях</option>
  <option value="name">Ім'я,Прізвище</option>
</select>
    <select (change)="changeType($event.target.value)" required name="type">
    <option *ngFor="let cur of current">{{cur}}</option>
  </select>
</div>

  <div  class="select">
    <label>Рік :&nbsp;</label><select #year (change)="changeYear($event.target.value)" required name="years">
    <option value="all">Всі</option>
    <option *ngFor="let year of years">{{year}}</option>
  </select>
    <label>Тип графіка :&nbsp;</label> <select (change)="changeType($event.target.value)" required name="type">
    <option>Bar</option>
    <option>Line</option>
  </select>
  </div>
</div>
</div>
