<div class="type-selection">
<div  class="select">
  <label>Кількість замовлень по :&nbsp;</label> <select (change)="change($event.target.value)" required name="sort">
  <option value="quarter">Кварталах</option>
  <option value="mounse">Місяцях</option>
  <option value="name">Ім'я,Прізвище</option>
</select>
</div>
  <div #year_mounce class="current-select">
    <label>Рік :&nbsp;</label> <select #year (change)="changeYear($event.target.value)" required name="years">
    <option value="all">Всі</option>
    <option *ngFor="let year of years">{{year}}</option>
  </select>
    <label>Місяць :&nbsp;</label> <select #mounce (change)="changeMounth($event.target.value)" required name="mounce">
    <option value="all">Всі</option>
    <option value="01">Січень</option>
    <option value="02">Лютий</option>
    <option value="03">Березень</option>
    <option value="04">Квітень</option>
    <option value="05">Травень</option>
    <option value="06">Червень</option>
    <option value="07">Липень</option>
    <option value="08">Серпень</option>
    <option value="09">Вересень</option>
    <option value="10">Жовтень</option>
    <option value="11">Листопад</option>
    <option value="12">Грудень</option>
  </select>
  </div>



<div class="canvass">
  <canvas baseChart
          [datasets]="ChartData"
          [labels]="ChartLabels"
          [options]="ChartOptions"
          [legend]="ChartLegend"
          [chartType]="ChartType"
  ></canvas>
</div>
</div>
