<div class="switch">
  <input #type01  type="radio" checked>
  <label class="switch-labels"  (click)="changeSwitch(1,$event.target)">Графік числа замовлень</label>

  <input #type02  type="radio">
  <label class="switch-labels"  (click)="changeSwitch(2,$event.target)">Графік відношення замовлень</label>

  <input #type03   type="radio">
  <label class="switch-labels"  (click)="changeSwitch(3,$event.target)">Year</label>
</div>
<div class="type-selection">
  <div  class="select">
  <label>Кількість замовлень по :&nbsp;</label> <select #sort (change)="change($event.target.value)" required name="sort">
  <option value="quarter">Кварталах</option>
  <option value="mounse">Місяцях</option>
  <option value="name">Ім'я,Прізвище</option>
</select>
    <select (change)="changeType($event.target.value)" required name="type">
    <option *ngFor="let cur of current">{{cur}}</option>
  </select>
</div>
  <div  class="current-select">
    <label>Рік :&nbsp;</label><select #year (change)="changeYear($event.target.value)" required name="years">
    <option value="all">Всі</option>
    <option *ngFor="let year of years">{{year}}</option>
  </select>
    <label>Тип графіка :&nbsp;</label> <select (change)="changeType($event.target.value)" required name="type">
    <option>Bar</option>
    <option>Line</option>
  </select>
  </div>
</div>

<div class="canvass">
  <canvas  baseChart
          [datasets]="ChartData"
          [labels]="ChartLabels"
          [options]="ChartOptions"
          [legend]="ChartLegend"
          [chartType]="ChartType"
  ></canvas>
</div>
